.about-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

}

.about-imageWrapprContainer {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.about-imageWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: fixed;
    z-index: -2;

}

.shopping-image {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.about-backgroundOverlay {
    mix-blend-mode: multiply;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, skyblue, #000000a2);
}

.about-imageWrapper-logo {
    object-fit: contain;
    position: absolute;
    height: 450px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-neluxe-logo-image {
    display: flex;
    height: 200px;
    width: auto;
    margin: auto;
}

.about-context {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 2% 10%;
    background-color: #f8f8f8;
}

.about-writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    left: 0px;
}

.about-writeup-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-writeup-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
}

.about-writeup-second-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.about-writeup-container h3,
.about-writeup-container p {
    text-align: left;
}

.about-writeup-second-container h3,
.about-writeup-second-container p {
    text-align: right;
}

.about-writeup-second-container h3,
.about-writeup-container h3 {
    font-size: 50px;
}

.about-context-imageWrapper {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    height: auto;
    width: 50%;

    border-radius: 0px 100px 0px 50px;
}

.about-context-imageWrapper img {
    object-fit: contain;
    margin: auto;
    height: 100%;
    width: 100%;
}