.login-wrapper {
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 2% 0%;
    position: relative;

    background-color: orangered;
}

.backgroundImageWrapper,
.signUpForm {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: pink;
}