.nr-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 5%;
}

.nr-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.nr-header-container button {
    position: relative;
    display: flex;
    background: none;
    border: none;
    color: black;
    transition: 350ms all ease;
    cursor: pointer;
    width: auto;
    justify-content: center;
    align-items: center;
}

.nr-header-container button:hover {
    color: white;
}

.nr-header-container button h5 {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5px 8px;
    z-index: 1;
    text-align: center;

}

.nr-header-container button::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: black;
    transition: 350ms all ease;
    width: 0%;
    left: 0px;
}

.nr-header-container button:hover:after {
    width: 100%;
}

.nr-productsWrapper {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.nr-products {
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    background-color: white;

}

.nr-productImageWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5%;
}

.nr-productImageWrapper img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    object-fit: contain;
}

.nr-product-card-dropdown {
    bottom: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(to top, transparent, white);
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 12px;


}

.nr-productDetails {
    display: flex;
    height: auto;
    width: 100%;
    bottom: 0px;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nr-productDetails .nr-productDetailsTitle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    font-size: 12px;
    text-align: right;
}

.nr-productDetails .nr-productDetailsPrice {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-weight: bold;
}



.nr-productDetails-icons {
    width: 100%;
    height: auto;
    display: flex;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;

}

.nr-product-card-dropdown-transform {
    transform: translateY(100%);

}


.nr-section2 {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.nr-section-image-wrapper {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nr-section-image-wrapper img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: flex;
}

.nr-section2-writeUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 2% 5%;
}

.nr-section2-writeUpContainer h1 {
    width: 100%;
    text-align: left;
    font-size: 60px;
    color: pink;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nr-section2-writeUpContainer p {
    color: honeydew;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.nr-section2-writeUp-barcode {
    height: auto;
    width: 100%;
    display: flex;
}

.nr-barcode {
    width: 40%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nr-section2-writeUp-barcode img {
    color: white;
    display: flex;
    height: auto;
    width: 100%;

}

/* ____________________________________________________ */

.nr-section3-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nr-section3-container h3 {
    text-transform: uppercase;
}

.nr-section3-container-women,
.nr-section3-container-men {
    display: flex;
    width: 100%;
    height: auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .nr-section2 {
        height: 300px;
    }

    .nr-section-image-wrapper {
        height: 100%;
    }

    .nr-section-image-wrapper img {
        object-fit: cover;
    }

    .nr-section2-writeUpContainer {

        padding: 2% 5%;
    }

    .nr-section2-writeUpContainer h1 {
        width: 100%;
        text-align: left;
        font-size: 20px;
        color: pink;
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .nr-section2-writeUpContainer p {
        color: honeydew;
        text-align: right;
        font-weight: bold;
        font-size: 8px;
        text-transform: uppercase;
    }

    .nr-section3-container-women,
    .nr-section3-container-men {
        display: flex;
        width: 100%;
        height: auto;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .nr-products {
        height: 250px;
        width: 150px;
        padding: unset;
    }

    .nr-productImageWrapper {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
    }

    .nr-product-card-dropdown {
        width: 100%;
    }

    .nr-productDetails {
        display: flex;
        height: auto;
        width: 100%;
        bottom: 0px;
        gap: 5px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nr-productDetails .nr-productDetailsTitle {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        font-size: 12px;
        text-align: center;

    }

    .nr-productDetails .nr-productDetailsPrice {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: bold;
    }

    .nr-productDetails-icons {
        width: 100%;
        height: auto;
        display: flex;
        transition: all 350ms ease-in-out;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

    }




}